<%- include('../layout/header.ejs') %>

  <main class="site-main">
    <%- include('../layout/HomePage/heroBanner.ejs') %>
      <%- include('../layout/HomePage/heroCarousel.ejs') %>
        <%- include('../layout/HomePage/trendingProduct.ejs') %>
          <%- include('../layout/HomePage/offerSection.ejs') %>
            <%- include('../layout/HomePage/bestSeliing.ejs') %>
              <%- include('../layout/HomePage/blogSection.ejs') %>
                <%- include('../layout/HomePage/subscribe.ejs') %>
  </main>

  <%- include('../layout/footer.ejs') %>